Data Science tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
    > List the popular data science languages
    > To open and use Jupyter notebook and Github
    > Learnt about datascience tools including RStudio
    > Learnt about the open source development environments

Some of the popular languages that Data Scientists use are:
    PYTHON
    JULIA
    R
    JAVA
    SQL

Some of the commonly used libraries used by Data Scientists include:
    MATPLOTLIB
    SCIKIT LEARN
    PANDAS
    NUMPY
    GGPLOT

_____________________
| Data science tools |
|___________________ |
| RStudio            |
| Apache Spark       |
| Tensorflow         |
|___________________ |

Below are a few examples of evaluating arithmetic expressions in Python:

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

In [ ]:
9-hourstominutes.png

Author
Sriram R